gunicorn
jsonify
PyJWT
configobj
fastapi
uvicorn
python-multipart
prometheus_fastapi_instrumentator
pydantic_core
pydantic[email]
python-dotenv
requests
SQLAlchemy
urllib3
Werkzeug
pyotp
alchemyjsonschema
starlette
boto3
python-dateutil
psycopg2-binary
httpx
jinja2
pytest
coverage
cryptography
pycryptodome
num2words
pdfkit
aiofiles
httplib2
pandas
pydantic
rapidfuzz
strawberry-graphql[fastapi]==0.217.0
